

* {
  max-width: 700px;
  margin: auto;
}


body {
    min-width: 500px;
}

div {
  border-radius: 5px;
}

#header {
  height: 40px;
  width: 100%;
  background-color: #00008B;
  position: fixed;
  z-index: 1;
}

#title {
  margin-left: 3%;
}

#footer {
  height: 50px;
  width: 100%;
  background-color: #00008B;
  clear: both;
  position: relative;
}

.left {
  height: 1000px;
  width: 45px;
  background-color: #e0eeee;
  float: left;
  position: relative;
  height: 150vmax;
}

.right {
  height: 1000px;
  width: 45px;
  background-color: #e0eeee;
  float: right;
  position: relative;
  height: 150vmax;
}

.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 1000px;
}

p,
li {
  font-family: 'Helvetica';
}

.head {
  font-size: 20px;
}

#name {
  font-family: Sacramento;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 430px) {
  .left,
  .right {
    display: none;
  }
  .stuff {
    width: 100%;
    margin-left: 10px;
  }
}
.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

.imgs{
  float:right;
  margin: 0px;
}

section1{
  font-size: 15px;
}

section2{
  font-size: 15px;
  font-style: oblique;
}

h3{
  margin-left: 10px;
}
